<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button type="button" class="btn prev" (click)="prevPage()" [class.disabledprev]="currentPage === 1">Prev</button>
    </li>
    @for (question of paginatedQuestions; track question.questionId) {
    <li class="page-item" (click)="handleClick($event,question.questionNo)">

      @if(question.questionstatus=="done"){
      <a class="page-link done "
        href="#">{{question.questionNo}}
      </a>
      }

      @if(question.questionstatus=="unreviewed"){
      <a class="page-link active"
        [ngClass]="{
          'active': selectedQuestionId === question.questionNo
        }"
        href="#">{{question.questionNo}}
      </a>
      }

      @if(question.questionstatus=="marked"){
      <a class="page-link marked"
        [ngClass]="{'active': selectedQuestionId === question.questionNo}"
        href="#">{{question.questionNo}}
      </a>
      }

    </li>
    }
    <li class="page-item" [class.disabled]="currentPage >= getTotalPages()">
      <button type="button" class="btn next" (click)="nextPage()" [class.disablednext]="currentPage >= getTotalPages()">Next</button>
    </li>
  </ul>
</nav>

<!-- 
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button type="button" class="btn prev" (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
    </li>
    <li *ngFor="let question of paginatedQuestions; trackBy: trackByQuestionNo" 
        class="page-item" 
        (click)="handleClick($event, question.questionno)">
      <a 
        class="page-link"
        [ngClass]="{
          'done': question.questionstatus === 'done',
          'active': question.questionstatus === 'unreviewed' || selectedQuestionId === question.questionno,
          'marked': question.questionstatus === 'marked'
        }"
        href="#"
      >
        {{ question.questionno }}
      </a>
    </li>
    <li class="page-item" [class.disabled]="currentPage >= Math.ceil(questions.length / questionsPerPage)">
      <button type="button" class="btn next" (click)="nextPage()" [disabled]="currentPage >= Math.ceil(questions.length / questionsPerPage)">Next</button>
    </li>
  </ul>
</nav> -->
