<div class="card-table">
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Content</th>
                <th>Assesment</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through rows dynamically -->
            @for (item of rows; track item) {
            <tr class="row-elements">
               
                <td>{{ item.no }}</td>
                <td>{{ item.content }}</td>
                <td>{{ item.Assessment }}</td>
            </tr>
        }
        </tbody>
    </table>
</div>