<div class="background-div">
    <!-- NABAR BEGINING -->
    <div class="header">
        <!-- logo part and avatar also heading of quiz -->
        <div class="heading-logo">

            <div class="containerrr">
                <div class="head">
                    <div class="logo">
                        <!-- <img src="logo.svg" alt="Logo"> -->
                        <h4>KnowliX</h4>
                    </div>
                </div>
                <h1>{{assessment.result.assessmentName}}</h1>
            </div>

        </div>
        <div class="avatar">
            <div class="profile-card">
                <div class="profile-info">
                    <h1>{{user.UserName}}</h1>
                    <p>ILP 0{{user.UserBatch.batchid}}</p>
                </div>
                <div class="profile-avatar">
                    <img src="assets/Ellipse 56.svg" alt="Avatar">
                </div>
            </div>
        </div>

    </div>
    <!-- NAVBAR ENDING -->
    <div class="question-parent">
        <div class="question-div">
            <div class="time-and-submit">
                <div class="time">
                    <div class="clock-image">
                        <img src="tumer.svg" alt>
                    </div>
                    <!-- <div> -->
                        <!-- <div class="time-remaining">
                            <h4>Time</h4>
                        </div> -->
                        <div class="time-running">
                            <h2>00:00:00</h2>
                        <!-- </div> -->
                    </div>
                </div>
                <button type="button" class="btn next" (click)="openConfirmationDialog()">Submit</button>

            </div>


            <!-- @for (item of items; track item.id) {
                {{ item.name }}
              } -->
            <app-question [question]="question[count].questionText" [questionNumber]="count+1" [totalQuestion]="question.length"></app-question>
            <app-list-components   [questions]="question[count].questionOptions" [questionType]="question[count].questionType" [questionNumber]="count+1" [selectedOption]="question[count].selectedoption" [fullQuestions]="question[count]" (buttonClicked)="handleButtonClick($event)" [isChecked]="question[count].questionstatus" (reviewMarked)="onReviewMarked($event)"  (answerEntered)="handleAnswerEntered($event)"></app-list-components>
            <app-pagi-nator [questions]="question"  [selectedQuestionId]="count+1" [questionNo]="count+1" (itemClicked)="onItemClicked($event)"></app-pagi-nator>
           
        </div>
    </div>
</div>
