<div class="table-page">
  <div class="table-responsive grow">
    <!-- <h3 class="upcoming">Attended</h3> -->
    <div class="card box-shadow">
      <!-- <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4">
          <input pInputText type="text" (input)="filterTable($event, dt1)" placeholder="Search by assessment name" />
        </div>
      </div> -->
      <p-table #dt1 [value]="scores " [tableStyle]="{ 'min-width': '50rem' }"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [paginator]="true"
      sortField="calculatedOn"
      [sortOrder]="sortOrder"
      
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Assessment</th>
            <th>Score</th>
            <th>Attended Date</th>
            <th>Calculated On</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-score>
          <tr >
            <td>{{ score.assessmentName }}</td>
            <td>{{ score.score }}</td>
            <td>{{ score.scheduledDate | date: 'dd-MM-yyyy' }}</td>
            <td>{{ score.calculatedOn | date: 'dd-MM-yyyy' }}</td>
            <!-- <td>{{ assessment.assessmentDuration | timeformat}} hr</td>  -->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

