<div class="card">
  <p-table
    #dt1
    [value]="filteredData.length ? filteredData : skeletonData"
    [globalFilterFields]="['assessmentName', 'batchName', 'createdOn', 'scheduledDate', 'status']"
    selectionMode="single"
    [(selection)]="selectedAssessment"
    dataKey="scheduledAssessmentId"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="5"
    [paginator]="true"
    stateStorage="session"
    stateKey="assessment-table-session">
    <ng-template pTemplate="caption">
      <p-iconField iconPosition="left">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          pInputText
          type="text"
          (input)="filterGlobal($event, 'contains')"
          placeholder="Global Search" />
      </p-iconField>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="assessmentName" style="width:20%">
          Test <p-sortIcon field="assessmentName" />
        </th>
        <th pSortableColumn="batchName" style="width:20%">
          Batch <p-sortIcon field="batchName" />
        </th>
        <th pSortableColumn="createdOn" style="width:15%">
          Created On <p-sortIcon field="createdOn" />
        </th>
        <th class="schedule-class" pSortableColumn="scheduledDate" style="width:20%">
          Scheduled Date <p-sortIcon field="scheduledDate" />
        </th>
        <th pSortableColumn="status" style="width:15%">
          Status <p-sortIcon field="status" />
        </th>
        <th class="detail-class" pSortableColumn="status" style="width:15%">
          Details 
        </th>
        <th style="width:15%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr *ngIf="filteredData.length; else skeletonTemplate" [pSelectableRow]="item" (click)="onRowClick(item)">
        <td>
          <span class="p-column-title">Test</span>
          {{ item.assessmentName }}
        </td>
        <td>
          <span class="p-column-title">Batch</span>
          {{ item.batchName }}
        </td>
        <td>
          <span class="p-column-title">Created On</span>
          {{ item.createdOn | date }}
        </td>
        <td>
          <span class="p-column-title">Scheduled Date</span>
          {{ item.scheduledDate |date }}
        </td>
        <td>
          <span class="p-column-title">Status</span>
          {{ item.status }}
        </td>
        <td>
          <span class="p-column-title">Details</span>
          <div class="detail-btn">
              @if (item.status == "Evaluated") {
                <a [routerLink]="['/performance', item.scheduledAssessmentId]">
                <app-button-dashboard [content]='"View Details"'></app-button-dashboard></a>
              }
              @else if(item.status == "Upcoming"){

                <app-button-dashboard class="edit-btn" [content]='"Edit"'></app-button-dashboard>
              }
              @else if(item.status == "Completed"){
                <a [routerLink]="['/evaluate', item.scheduledAssessmentId]">
                <app-button-dashboard [content]='"Evaluate"'></app-button-dashboard></a>
              }
          </div>  
        </td>
      </tr>
    </ng-template>

    <ng-template #skeletonTemplate> <!-- Define skeletonTemplate for loading state -->
      <tr>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No assessments found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
