  .active{
    background: rgb(38,29,66);
    background: linear-gradient(100deg, rgba(38,29,66,1) 0%, rgba(128,97,195,1) 100%);
    color: antiquewhite;
    border: 1px linear-gradient(100deg, rgba(38,29,66,1) 0%, rgba(128,97,195,1) 100%);
}
.disablednext{
    opacity: 0.5;
    cursor: not-allowed;
    border: 1px solid #ccc;
}  

