  .active{
    background: rgb(160,196,255);
    background: linear-gradient(90deg, rgba(160,196,255,1) 0%, rgba(47,124,244,1) 100%); color: white;
    border: 1px linear-gradient(100deg, rgba(38,29,66,1) 0%, rgba(128,97,195,1) 100%);
}
.disablednext{
    opacity: 0.5;
    cursor: not-allowed;
    border: 1px solid #ccc;
}  

