<div class="d-flex justify-content-end w-50" style="margin-left: 30%;"><p-messages></p-messages></div>

    <h1 class="header-text">User Account Management</h1>
    <div class="d-flex justify-content-end">
      <div class="button-container">
        <app-button-active [content]="'Add Role'" (buttonClick)="openRoleCreationModal()"></app-button-active>
        <app-button-active [content]="'Add User'" (buttonClick)="ShowTrainer()"></app-button-active>
        <app-button-active [content]="'Batch Upload'" (buttonClick)="showUploadDialog()"></app-button-active>
      
      
        <p-dialog [(visible)]="displayDialog" header="Batch Upload Options" [modal]="true" [closable]="true" [style]="{width: '300px'}">
          <div class="p-fluid">
            <div class="p-field">
              <p-button label="Preview Template" icon="pi pi-eye" (click)="previewTemplate()"></p-button>
            </div>
            <div class="p-field button-top">
              <p-button label="Upload CSV File" icon="pi pi-upload" (click)="openFileUpload()" class="mt-2"></p-button>
              <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;" />
            </div>
          </div>
        </p-dialog>
      
      
        <p-dialog [(visible)]="visibleTemplatePreview" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" >
          
          <ng-template pTemplate="header">
            <div class="flex justify-content-between align-items-center">
              <span class="preview-heading">Template Preview</span>
              <div>
                <button pButton pRipple type="button" icon="pi pi-download" class="p-button-text p-button-rounded" (click)="downloadTemplate()"></button>
              </div>
            </div>
          </ng-template>
          
          <table class="template-table">
            <tr *ngFor="let row of csvData">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </table>
          
        </p-dialog>
        
      </div>
      
    </div>

    

  <br /><br />

  <app-rolecreation-card
  *ngIf="isModalVisible"
  [role]="selectedRole"
  [isEditMode]="isEditMode"
  [isModalVisible]="isModalVisible"   
  (cancelRoleCreation)="onCancelRoleCreation()"
  (roleSaved)="onRoleSaved()">
</app-rolecreation-card>


  <app-accountcreation-modal 
    *ngIf="isAddTrainer" 
    [(visible)]="isAddTrainer"
    [mode]="'add'"
    (close)="closeModal()">
  </app-accountcreation-modal>

  <app-accountcreation-modal 
    *ngIf="isEditTrainer" 
    [(visible)]="isEditTrainer"
    [mode]="'edit'"
    [userData]="selectedUser"
    (close)="closeModal()">
  </app-accountcreation-modal>

  <app-accountcreation-modal 
    *ngIf="isDeleteTrainer" 
    [(visible)]="isDeleteTrainer"
    [mode]="'delete'"
    [userData]="selectedUser"
    (close)="closeModal()">
  </app-accountcreation-modal>

  <br /><br />

  <!-- Trainer Table Component -->
    <div class="table">
    <app-trainer-table (editRole)="editRole($event)"></app-trainer-table>
    </div>



