$text-colour:#593D7C;



.modal{
    border-radius: 10px;
}
.header{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.modal-content{
    height: 450px;
    width: 450px;
    border-radius: 50px;
}
.modal-title{
    text-align: center;
    margin-left: 130px;
    color: $text-colour;
}
.modal-inner-body{
    height: 250px;
    width: 290px;
    border-style: dashed;
    border: 2px dashed ;
   
    border-radius: 50px;
    margin-left: 65px;
    margin-top: 0px;
}

.upload-icon{
    width: 136px;
    height: 65px;
    position: relative;
    top: 40px;
    left: 80px;
    
}

.upload-content{
    position: relative;
    top: 70px;
    text-align: center;
}
.template{
    position: relative;
    top: 65px;
    left: 70px;
    height: 70px;
}
.file-types{
    position: relative;
    bottom: 30px;
    margin-left: 90px;
}
.upload-button{
    position: relative;
    bottom: 30px;
    left: 155px;

}
.select{
    color: blue;
}