<div class="container">
  <div class="row">
    <div class="mt-1 preview">
      <div class="preview-body">
        <form #assessmentForm="ngForm">
          <div class="question" *ngFor="let question of questions; let i = index; trackBy: trackByFn">
            <div class="question-container" [ngClass]="{'questionNo': i > 0}">
              <div class="question-point">
                <div class="question-name">
                  <label *ngIf="i === 0" class="question" id="ques-name{{ i }}" for="question{{ i }}">Question {{ i + 1 }}</label>
                  <label *ngIf="i > 0" class="questionNo" for="question{{ i }}">Question {{ i + 1 }}</label>
                  <input class="first-input" *ngIf="i === 0" type="text" id="question{{ i }}" [(ngModel)]="question.content" name="question{{ i }}" class="form-control">
                  <input *ngIf="i > 0" type="text" id="question{{ i }}" [(ngModel)]="question.content" name="question{{ i }}" class="form-control">
                </div>
                <div class="question-score">
                  <label for="score{{ i }}">Points</label>
                  <input type="number" id="score{{ i }}" [(ngModel)]="question.score" name="score{{ i }}" class="form-control">
                </div>
                <div class="question-type">
                  <label for="type{{ i }}">Type</label>
                  <select id="type{{ i }}" [(ngModel)]="question.type" name="type{{ i }}" class="form-control">
                    <option value="mcq">MCQ</option>
                    <option value="msq">MSQ</option>
                    <option value="descriptive">Descriptive</option>
                    <option value="fillup">Fill Up</option>
                  </select>
                </div>
              </div>
              <ng-container [ngSwitch]="question.type">
                <!-- MCQ Case -->
                <div *ngSwitchCase="'mcq'">
                  <div *ngFor="let option of question.options || []; let j = index; trackBy: trackByFn" class="mb-2">
                    <div class="d-flex align-items-center">
                      <input type="text" id="option{{ i }}{{ j }}" [(ngModel)]="question.options![j]" name="option{{ i }}{{ j }}" class="form-control me-2">
                      
                      <button type="button" class="btn btn-outline-danger remove-button" (click)="removeOption(i, j)">
                        <i class="pi pi-trash"></i>
                      </button>
                    </div>
                    
                    <div class="form-check mt-1">
                      <input type="radio" id="correct{{ i }}{{ j }}" name="correct{{ i }}" class="form-check-input" [checked]="question.correctAnswer.includes(option)" (change)="setCorrectAnswer(question, option, $event)">
                      <label class="form-check-label form-mcq" for="correct{{ i }}{{ j }}">
                        Correct Answer
                      </label>
                    </div>
                  </div>
                  <button type="button" class="btn btn-secondary add-option-btn mcq-add-option" (click)="addOption(i)">Add Option</button>
                </div>
                
                <!-- MSQ Case -->
                <div *ngSwitchCase="'msq'">
                  <div *ngFor="let option of question.options || []; let j = index; trackBy: trackByFn" class="mb-2">
                    <div class="d-flex align-items-center">
                      <input type="text" id="option{{ i }}{{ j }}" [(ngModel)]="question.options![j]" name="option{{ i }}{{ j }}" class="form-control me-2">
                      
                      <button type="button" class="btn btn-outline-danger remove-button" (click)="removeOption(i, j)">
                        <i class="pi pi-trash"></i>
                      </button>
                    </div>

                    <div class="form-check mt-1">
                      <input type="checkbox" id="correct{{ i }}{{ j }}" name="correct{{ i }}{{ j }}" class="form-check-input" [checked]="question.correctAnswer.includes(option)" (change)="setCorrectAnswer(question, option, $event)">
                      <label class="form-check-label" for="correct{{ i }}{{ j }}">
                        Correct Answer
                      </label>
                    </div>
                  </div>
                  <button type="button" class="btn btn-secondary add-option-btn" (click)="addOption(i)">Add Option</button>
                </div>

                <!-- Descriptive Case -->
                <div *ngSwitchCase="'descriptive'">
                  <textarea rows="4" cols="50" [(ngModel)]="question.correctAnswer" name="descriptive{{ i }}" class="form-control"></textarea>
                </div>
                
                <!-- Fillup Case -->
                <div *ngSwitchCase="'fillup'">
                  <input type="text" [(ngModel)]="question.correctAnswer" name="fillUp{{ i }}" class="form-control">
                </div>
              </ng-container>
              
            </div>
          </div>
          
          <button type="button" class="btn  add-question-btn" (click)="addQuestion()">Add Question</button>
        </form>
      </div>
    </div>
  </div>
</div>
