$correctOption:green;

.preview-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -50px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.preview-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
}
.preview-body{
    margin-right: -50px;
    width:850px;
    justify-content: space-between;
    overflow-y: auto;
    padding:20px;
    padding-right: 0;
    align-content: center;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    border-radius: 10px;
}

.preview-body::-webkit-scrollbar {
    display: none; 
}

.qn-point{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding:20px;
    padding-right: 0;
    margin-bottom: 10px;
}
.question{
    width:90%;
}

.question-container p {
    font-weight: 500; 
    margin-bottom: 5px; 
}

.question-score {
    margin-top: 5px; 
}

.question-container textarea,
.question-container input[type="text"],
.question-container input[type="radio"] {
    margin-top: 5px; 
}

.question-container input[type="radio"] {
    padding:20px;
}

.correct-answer {
    margin-top: 10px;
    font-weight: 500;
    color:$correctOption ;
}

.option-container {
    margin-bottom: 5px;
}

.radio {
    margin-right: 10px;
}