.dashboard-button {
  background: rgb(16, 132, 249);
  color: #ffffff;
  height: 42px;
  width: 150px !important;
  border-radius: 0% !important;
  font-size: 12px;
  border-radius: 50px !important; 
  border: none;
}

button {
  width: 300px !important ;
}
