<div *ngIf="!uploaded">
  <div class="modal show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">File Upload</h1>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeUploadModal();"></button>
        </div>
        <div class="modal-body" #modalBody (drop)="onDrop($event)">
          <div class="modal-inner-body">
            <img src="assets/Uploadicon.png" alt="upload icon" class="upload-icon">
            <p class="upload-content">Drag and Drop a File<br/>
              or <label for="fileInput" class="select">select a file</label> from your computer</p>
            <input type="file" id="fileInput" accept=".docx, .xlsx" style="display:none;" (change)="onFileSelected($event)">
            <app-button-inactive class="template" [content]="'Get Template'" (click)="openTemplatePreview()"></app-button-inactive>
          </div>
          <p class="file-name" *ngIf="fileName">{{ fileName }} <span *ngIf="uploaded">- Uploaded</span></p>
        </div>
        <p class="file-types">File types: Word (.docx) and Excel (.xlsx)</p>
        <app-button-active class="upload-button" style="width: fit-content;" [content]="'Upload File'" (click)="uploadFile()"></app-button-active>
      </div>
    </div>
  </div>
</div>

<div *ngIf="uploaded">
  <app-upload-success (prepareTest)="prepareTestAndCloseModal()"></app-upload-success>
</div>

<p-dialog [(visible)]="visibleTemplatePreview" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between align-items-center">
      <span class="preview-heading">{{ getPreviewHeading() }}</span>
      <div>
        <p-button pRipple type="button" icon="pi pi-download" class="p-button-text p-button-rounded download-icon" (click)="downloadTemplate()"></p-button>
      </div>
      <label class="switch">
        <input type="checkbox" (change)="onToggleChange($event)">
        <span class="slider round"></span>
      </label>
    </div>
  </ng-template>

  <div class="docx-content" *ngIf="isWordPreview; else excelContent" [innerHTML]="wordTemplateContent"></div>
  <ng-template #excelContent>
    <div class="excel-content">
      <table [innerHTML]="excelTemplateContent"></table>
    </div>
  </ng-template>
</p-dialog>