<div class="card mt-3">
  <div class="card-head">
    <div class="row d-flex justify-content-between">
      <div class="col-3">
        <h5>Role Name</h5>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" placeholder="Enter role name" [(ngModel)]="role.roleName">
      </div>
      <div class="col-2 text-right mr-auto">
        <button class="btn btn-primary" (click)="submitRole()">{{ role.roleId ? 'Update' : 'Create' }}</button>
      </div>
      <div class="col-2 text-right mr-auto">
        <button class="btn btn-secondary" (click)="cancelRole()">Cancel</button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h6>Permissions</h6>
    <hr>
    <div class="row" *ngFor="let permission of permissions; let i = index">
      <div class="col-5">
        <div class="form-check">
          <input class="form-check-input custom-checkbox" type="checkbox" 
                 [checked]="isPermissionSelected(permission)"
                 (change)="togglePermission(permission)">
          <label class="form-check-label">
            {{ permission.description }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
