<div class="card mt-3">
  <div class="card-header">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-3">
        <h5>{{ isEditMode ? 'Edit Role' : 'Create Role' }}</h5>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" placeholder="Enter role name" [(ngModel)]="role.roleName">
      </div>
      <div class="col-2 text-right">
        <button class="btn btn-primary" (click)="submitRole()">{{ isEditMode ? 'Update' : 'Create' }}</button>
      </div>
      <div class="col-2 text-right">
        <button class="btn btn-secondary" (click)="cancelRole()">Cancel</button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h6>Permissions</h6>
    <hr>
    <div class="row" *ngFor="let permission of permissions">
      <div class="col-5">
        <div class="form-check">
          <input class="form-check-input custom-checkbox" type="checkbox"
                 [value]="permission.id" 
                 [(ngModel)]="permission.isSelected"
                 (change)="onCheckboxChange($event)">
          <label class="form-check-label">
            {{ permission.description }}
          </label>
        </div>
      </div>
    </div>

    <!-- Optional validation message -->
    <div *ngIf="role.permissions.length === 0" class="text-danger mt-3">
      Please select at least one permission.
    </div>
  </div>
</div>
