/* your-component.component.css */
.header {
    background-color: #251D40; /* Dark purple */
    color: white; 
    font-size: smaller;
    text-align: center;/* Text color for headings */
    
  }
  
  .odd-row td {
    background-color: #edebf7; /* Light purple */
  }
  
  .even-row  td{
    background-color: #d9d9d9; /* Light gray */
  }
  
  .custom-table thead th {
    padding: 0.5rem; /* Reduce padding to decrease header row height */
  }
  
  .custom-table tbody td {
    padding: 0.5rem; /* Reduce padding to decrease row height */
  }
  .card{
    margin: 5%;
  }

  .custom-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.btn-group {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  
  .btn-group .btn {
    flex: 1;
    padding: 10px 20px;
    border-left: 2px solid #5940B7; 
    border-right: 2px solid #5940B7; 
  }
  .small-text {
    font-size: smaller;
  }
  .custom-table {
    width: 100%;
    table-layout: fixed;
  }
 
