::ng-deep {
  .p-datatable {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    font-size: 0.8rem;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .p-datatable-header,
  .p-datatable-thead > tr > th,
  .p-datatable-tbody > tr > td {
    padding: 0.25rem;
  }

  .p-datatable-header {
    font-size: 0.85rem;
  }

  .p-datatable-thead > tr > th {
    font-size: 15px;
  }

  .p-datatable-tbody > tr > td {
    font-size: 13px;
    padding:0.5rem 0.25rem;
  }

  .p-paginator {
    font-size: 0.8rem;
    padding: 0.25rem;
  }

  .p-datatable-wrapper {
    padding: 0;
    margin: 0;
  }

  .card {
    padding: 0;
    margin: 0;
    width: 100%; /* Adjust the width as needed */
  }
}

.details-btn{
  width: fit-content;
  }
  