<div class="pie-chart">
    
    <div class="card flex justify-content-center">
        <p-chart type="pie" [data]="data" [options]="options" />
    </div>
    <div class="details">
        <div class="box"><div class="between90"></div><span>80-90%</span></div>
        <div class="box"><div class="between70"></div><span>60-70%</span></div>
        <div class="box"><div class="between80"></div><span>70-80%</span></div>
        <div class="box"><div class="above90"></div><span>>90% </span></div>
        <div class="box"><div class="below60"></div><span> Below 60% </span></div>
    </div>
    </div>
    
    
    
    