.pie-chart{
    display: flex;
    height:250px;
    width:450px;
    justify-content:space-between;
    border-radius: 10px;
}

.card{
    height: 250px;
    width:250px;
    border:none;
    padding: 5px;
}
.p-chart {
    width: 100%;
    height: 100%;
  }
.chart-details{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.pie-chart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.between90{
    height: 20px;
    width: 20px;
    background-color: #D682C4;
}
.between70{
    height: 20px;
    width: 20px;
    background-color: #F1D0D0;

}
.between80{
    height: 20px;
    width: 20px;
    background-color: #D2A4BF;

}

.above90{
    height: 20px;
    width: 20px;
    background-color: #D682C4;

}

.below60{
    height: 20px;
    width: 20px;
    background-color: #9D4999;

}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box span{
    font-size: 12px;
    padding-left: 2px;
}
 



  .card {
    background-color: #ffffff; 
    border-radius: 8px; 
    padding: 30px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
