.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.left-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right-item {
    display: flex;
    align-items: center;
}
