<div class="card flex justify-content-center">
    <p-dialog 
        header="Header" 
        [(visible)]="visible" 
        [modal]="true" 
        [style]="{ width: '25rem', height: '25rem' }">
            <ng-template pTemplate="header">
                <div class="inline-flex align-items-center justify-content-center gap-2">
                    <p-avatar 
                        icon="pi pi-user"
                        shape="circle" />
                    <span class="font-bold white-space-nowrap">
                        Reset Password
                    </span>
                </div>
            </ng-template>
            @if(passwordReset){
                <div class="center-content">
                    <i class="pi pi-check-circle green-tick"></i>
                    <p class="message">Password Reset Successful!</p>
                </div>
            }
            @else {
                @if(!emailEntered && !userInactive){
                    <div class="center-content" style="margin-top: 5rem;">
                    <div [formGroup]="emailForm" class="flex align-items-center gap-3 mb-5">
                        <label for="email" class="font-semibold w-6rem">Email</label>
                        <input pInputText id="email" formControlName="email" class="flex-auto" autocomplete="off" />
                      </div>
                      
                      <p-button label="Get OTP" icon="pi pi-arrow-circle-right" [rounded]="true" (onClick)="generateOtp()"></p-button>
                      
                      <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="text-red-600">
                        <small *ngIf="emailForm.get('email')?.errors?.['required']">Email is required.</small>
                        <small *ngIf="emailForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
                      </div></div>
                }
                @if(emailEntered && !otpValidated){
                    <app-otp-validation (otpVerified)="verifyOtp($event)" (otpResend)="resendOtp($event)"></app-otp-validation>
                }
                @if(otpValidated && !passwordReset){
                    <div class="center-content">
                    <div [formGroup]="passwordForm" class="flex align-items-center gap-3 mb-5">
                        <label for="password" class="font-semibold w-6rem">Password</label>
                        <input pInputText id="password" formControlName="password" type="password" class="flex-auto" autocomplete="off" />
                      </div>
                      
                      <p-button label="Submit" icon="pi pi-check" (onClick)="submitPassword(userInactive)"></p-button>
                      
                      <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched" class="text-red-600">
                        <small *ngIf="passwordForm.get('password')?.errors?.['required']">Password is required.</small>
                        <small *ngIf="passwordForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</small>
                      </div></div>
                }
                @if(userInactive){
                    <div class="center-content">
                    <div [formGroup]="changePasswordForm" class="form-container">
                        <div class="form-group">
                          <label for="email" class="font-semibold">Email</label>
                          <input pInputText id="email" formControlName="email" class="flex-auto" readonly />
                        </div>
                      
                        <div class="form-group">
                          <label for="newPassword" class="font-semibold">New Password</label>
                          <input pInputText id="newPassword" formControlName="newPassword" type="password" class="flex-auto" />
                          <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="text-red-600">
                            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Password is required.</small>
                            <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters long.</small>
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="confirmPassword" class="font-semibold">Confirm Password</label>
                          <input pInputText id="confirmPassword" formControlName="confirmPassword" type="password" class="flex-auto" />
                          <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched" class="text-red-600">
                            <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Please confirm your password.</small>
                          </div>
                          <div *ngIf="changePasswordForm.errors?.['passwordMismatch'] && changePasswordForm.get('confirmPassword')?.touched" class="text-red-600">
                            <small>Passwords do not match.</small>
                          </div>
                        </div>
                      
                        <p-button icon="pi pi-check" label="Change Password" (onClick)="submitPassword(userInactive)"></p-button>
                      </div></div>
                }
            }
    </p-dialog>
</div>