<!-- profile-modal.component.html -->
<div class="profile-modal">
  <div class="header">
    <button class="back-button" (click)="closeModal()">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <div class="content">
    <div class="profile-picture">
      <img [src]="profileImage" (click)="openFileExplorer()">
    </div>
    <table class="profile-details">
      <tr *ngFor="let detail of profileDetails; let i = index"
          (mouseover)="hoveredRow = i"
          (mouseleave)="hoveredRow = null">
        <td class="title">{{ detail.label }}</td>
        <td class="value">{{ detail.value }}</td>
        <td class="arrow-icon" *ngIf="hoveredRow === i">
          <i class="fa-solid fa-pen-to-square"></i>
        </td>
      </tr>
    </table>
    <app-button-active class="logout-button" (buttonClick)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</app-button-active>
  </div>
</div>
