$color:var(--primary-color) ;

.welcome{
    color: $color;
    margin-left: 10px;
    font-weight: 700;
}

.performers{
    display: flex;
}

.score-analysis{
    margin-left: 80px;
}
.profile{
    display: flex;
    justify-content: space-between;
}
.down-section{
    overflow-x: hidden;
}