<div class="container">
  <div class="row">
    <div class="col-2 mr-5">
      <div class="sidebar">
        <app-sidebar></app-sidebar>
      </div>
    </div>

    <div class="col mt-1 dashboard">
      <div class="profile">
        <h4 class="welcome">Welcome to Admin Dashboard</h4>
      </div>

      <app-table-dashboard (assessmentIdSelected)="receiveAssessmentId($event)" class="dashboard-table"></app-table-dashboard>
      
      <div class="row down-section mt-3">
        
        <div class="col-4">
          <app-list-table
            [title]="'High Performers'"
            [performerType]="'top'"
            [batchName]="'Batch 1'"
            [assessmentName]="'Assessment 1'"
            [assessmentId]="selectedAssessmentId"
          >
          </app-list-table>
        </div>
        <div class="col-4">
          <app-list-table
            [title]="'Low Performers'"
            [performerType]="'low'"
            [batchName]="'Batch 1'"
            [assessmentName]="'Assessment 1'"
            [assessmentId]="selectedAssessmentId"
          >
          </app-list-table>
        </div>
        
        <div class="col-4">
          <div class="chart">
           
            <app-pie-diagram  [assessmentId]="selectedAssessmentId"></app-pie-diagram>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-4">
       <app-trainer-table></app-trainer-table>
      </div>
      </div>
    </div>
  </div>
</div>
