<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="sidebar">
        <app-sidebar (toggle)="onToggleSidebar($event)"></app-sidebar>
      </div>
    </div>


<div class="col mt-5">
  <div class="profile">
<h2 class="welcome">Welcome to Admin Dashboard</h2>
<app-profile-card 
(cardClicked)="showModal()"
>
</app-profile-card>
<app-profile-modal *ngIf="isModalVisible"></app-profile-modal>
</div>
<div class="dropdowns">
<app-dropdown 
    [placeholderText]="'Year'" 
    [options]="yearOptions" 
    (selectionChange)="onYearChange($event)">
</app-dropdown>
<app-dropdown 
    [placeholderText]="'ILP'" 
    [options]="ilpOptions" 
    (selectionChange)="onILPChange($event)">
</app-dropdown>
<app-dropdown 
    [placeholderText]="'Batch'" 
    [options]="batchOptions" 
    (selectionChange)="onBatchChange($event)">
</app-dropdown>
<p class="total">Total learners : 40</p>
</div>

<app-table-dashboard [tableData]="filteredData"></app-table-dashboard>

<div class="performers">
  <div class="chart">
      <p class="score-analysis">Score Analysis</p>
  <app-pie-diagram></app-pie-diagram>
</div>
<app-list-table batchName="Batch1" assessmentName="OOPS" performerType="top"></app-list-table>
<app-list-table batchName="Batch1" assessmentName="OOPS" performerType="low"></app-list-table>
</div>
</div>