$border-color: #EBDAF0;

.modal-content{
    border-radius: 50px;
    height: 250px;
    border:5px solid $border-color;
    width : 400px;
}
.upload-icon{
    height: 85px;
    position: relative;
    left: 130px;
    top: 20px;
}
.assign-msg{
    position: relative;
    top: 40px;
    left: 95px;
    font-size: 15px;
}