<p-tabView (onChange)="onTabChange($event)">
  <div class="dropdown-bar">
    <p-dropdown 
      [options]="years" 
      [(ngModel)]="selectedYear" 
      placeholder="Select a Year"
      (onChange)="onYearChange($event)"
      optionLabel="label" 
      optionValue="value"
    ></p-dropdown>

    <p-dropdown 
      [options]="batches" 
      [(ngModel)]="selectedBatch" 
      placeholder="Select a Batch" 
      [disabled]="!selectedYear" 
      (onChange)="onBatchChange($event)"
      optionLabel="batchname"
      optionValue="batchname" 
    ></p-dropdown>
  </div>

  <p-tabPanel header="All">
    <app-dashboard-table [tableData]="assessmentTableData"
    [defaultSortField]="'createdOn'"
    [defaultSortOrder]="-1"
    [dataKey]="'scheduledAssessmentId'"
    [action]="true"
    [cols]="assessmentTableCols"
    [status]="status" (rowSelected)="onAssessmentSelected($event)"></app-dashboard-table>
  </p-tabPanel>
  <p-tabPanel header="Upcoming">
    <app-dashboard-table [tableData]="filteredAssessmentData"
    [defaultSortField]="'scheduledDate'"
    [defaultSortOrder]="-1"
    [dataKey]="'scheduledAssessmentId'"
    [action]="true"
    [cols]="filteredTableCols"
    (rowSelected)="onAssessmentSelected($event)"></app-dashboard-table>
  </p-tabPanel>
  <p-tabPanel header="Completed">
    <app-dashboard-table [tableData]="filteredAssessmentData"
    [defaultSortField]="'scheduledDate'"
    [defaultSortOrder]="-1"
    [dataKey]="'scheduledAssessmentId'"
    [action]="true"
    [cols]="filteredTableCols"
    (rowSelected)="onAssessmentSelected($event)"></app-dashboard-table>
  </p-tabPanel>
  <p-tabPanel header="Evaluated">
    <app-dashboard-table [tableData]="filteredAssessmentData"
    [defaultSortField]="'scheduledDate'"
    [defaultSortOrder]="-1"
    [dataKey]="'scheduledAssessmentId'"
    [action]="true"
    [cols]="filteredTableCols"
    (rowSelected)="onAssessmentSelected($event)"></app-dashboard-table>
</p-tabPanel>
</p-tabView>

<div class="chart-card">
  <div class="row">
    @if(selectedAssessmentStatus == "Evaluated"){
    <div class="col-md-6">
      <h6>Percentage Range Analysis of Trainee Scores</h6>
      <app-bar-graph [assessmentId]="selectedAssessmentId"></app-bar-graph>
    </div>
    <div class="col-md-6">
      <h6>Trainee Attendance Status</h6>
      <app-pie-diagram [assessmentId]="selectedAssessmentId"></app-pie-diagram>
    </div>
    }@else{
      <div class="no-data-container mt-3 ">
        <div class="no-data-message">
          <svg class="no-data-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
          </svg>
          <span>{{ noDataMessage }}</span>
        </div>
      </div>
    }

  </div>
</div>