<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="sidebar">
        <app-sidebar></app-sidebar>
      </div>
    </div>

    <div class="col mt-3 trainer">
      <div class="trainerpage-top">
        <h4>Welcome To Trainer Dashboard</h4>
      </div>
      <app-table-dashboard (assessmentSelected)="onAssessmentSelected($event)"></app-table-dashboard>
      <div class="chart-card">
        <div class="row">
          @if(selectedAssessmentStatus == "Evaluated"){
          <div class="col-md-6">
            <h6>Percentage Range Analysis of Trainee Scores</h6>
            <app-bar-graph [assessmentId]="selectedAssessmentId"></app-bar-graph>
          </div>
          <div class="col-md-6">
            <h6>Trainee Attendance Status</h6>
            <app-pie-diagram [assessmentId]="selectedAssessmentId"></app-pie-diagram>
          </div>
          }@else{
            <div class="no-data-container mt-3 ">
              <div class="no-data-message">
                <svg class="no-data-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
                </svg>
                <span>{{ noDataMessage }}</span>
              </div>
            </div>
          }

        </div>
      </div>

    </div>
  </div>
</div>