<div>
  <div class="card">
    <p-table class="table"
             [value]="trainees"
             [scrollable]="true" 
             scrollHeight="350px"
             (onFilter)="onTableFilter($event)">
      <h1>Trainee Status and Marks Details</h1>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div style="display: flex; align-items: center;">
              Trainee
              <button (click)="showSearch = !showSearch" style="border: 0; background: none;">
                <i class="pi pi-search"></i>
              </button>
              <input *ngIf="showSearch" type="text" (input)="onSearch($event)" placeholder="Search Trainee..." style="width:150px; margin-left: 10px;" />
            </div>
          </th>
          <th pSortableColumn="isPresent">
            Status <p-sortIcon field="isPresent"></p-sortIcon>
            <p-columnFilter field="isPresent" matchMode="equals" display="menu">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                  <p-dropdown [(ngModel)]="selectedStatus" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                      <ng-template let-option pTemplate="item">
                          <p-tag [value]="option.value" [severity]="getSeverity(option.label)" />
                      </ng-template>
                  </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="score">
            Marks <p-sortIcon field="score"></p-sortIcon>
            <p-columnFilter type="numeric" field="score" display="menu" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-trainee>
        <tr>
          <td>{{ trainee.traineeName }}</td>
          <td>
            <p-tag 
              [value]="trainee.isPresent" 
              [severity]="getSeverity(trainee.isPresent)"></p-tag>
          </td>
          <td>{{ trainee.score }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">No trainees found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
