.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.form_main {
  width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  position: relative;
  overflow: hidden;
}



.heading {
  font-size: 2em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 5px 0 10px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  margin: 10px 0;
  color: black;
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

#button {
  z-index: 2;
  position: relative;
  width: 100%;
  border: none;
  background-color: rgb(162, 104, 255);
  height: 30px;
  color: white;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}

#button:hover {
  background-color: rgb(126, 84, 255);
}

.forgotLink {
  z-index: 2;
  font-size: .7em;
  font-weight: 500;
  color: rgb(44, 24, 128);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
}

$font-color: #d9d9d9;
$background-color: #251d40;

::ng-deep {
  /* Prevent overflow on the body */
  body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
  }
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  //background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  background-size: cover;
  background-position: center;
  // overflow: hidden;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.split-screen {
  display: flex;
  height: 80vh;
  width: 70vw;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}

.content-card,
.login-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.content-card {
  background-color: #ffffff;
  width: 30%;
  color: $background-color !important;
  text-align: center;
  padding: 0 !important;

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.login-card {
  background-image: linear-gradient(to left, #251d40 0%, #1f306f 100%);
  text-align: center;
  color: $font-color;

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.login-card h1,
.content-card h1 {
  margin-bottom: 2rem;
}

.login-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.buttons {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: $background-color; 
  color: $font-color; 
  border-radius: 4px;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;

  @media (max-width: 576px) {
      padding: 0.5rem 1rem;
  }
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 15px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}

.carousel {
  width: 100%;
  height: 500px;

  @media (max-width: 768px) {
    height: 400px;
  }

  @media (max-width: 576px) {
    height: 300px;
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    height: 100%;
    

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  .carousel-caption {
    bottom: -2%;
    left: 50%;
    width: 90%;
    height: 30%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(37, 29, 64, 0.7);
    padding: 1rem;
    border-radius: 8px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: transparent;
    border: none;
    width: 40px;

    @media (max-width: 576px) {
      width: 30px;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background: none;
  }
}
.error-message{
  color: rgb(232, 97, 97);
}

.microsoft-login-icon{
  width: 15rem;
  transform: translateY(-9rem) translateX(6.5rem);
}



