$font-color: #d9d9d9;
$background-color: #251d40;

::ng-deep {
  /* Prevent overflow on the body */
  body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
  }
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  background-size: cover;
  background-position: center;
  // overflow: hidden;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.split-screen {
  display: flex;
  height: 80vh;
  width: 80vw;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}

.content-card,
.login-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.content-card {
  background-color: #ffffff;
  width: 40%;
  color: $background-color !important;
  text-align: center;
  padding: 0 !important;

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.login-card {
  background-image: linear-gradient(to left, #251d40 0%, #1f306f 100%);
  text-align: center;
  color: $font-color;

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.login-card h1,
.content-card h1 {
  margin-bottom: 2rem;
}

.login-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
mat-form-field {
  width: 120%; /* Increase the width as needed */
  margin-bottom: 20px; /* Add gap between input fields */
}

mat-error {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}

.buttons {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: $background-color; 
  color: $font-color; 
  border-radius: 4px;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;

  @media (max-width: 576px) {
      padding: 0.5rem 1rem;
  }
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 15px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}

.carousel {
  width: 100%;
  height: 500px;

  @media (max-width: 768px) {
    height: 400px;
  }

  @media (max-width: 576px) {
    height: 300px;
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    height: 100%;
    

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  .carousel-caption {
    bottom: 5%;
    left: 50%;
    width: 90%;
    height: 30%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(37, 29, 64, 0.7);
    padding: 1rem;
    border-radius: 8px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: transparent;
    border: none;
    width: 40px;

    @media (max-width: 576px) {
      width: 30px;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background: none;
  }
}