<div class="body">
    <div class="spider"><i class="fa-solid fa-robot"></i></div>
    <div class="container">
        <h1>
            <span class="num">4 </span>
            <i class="fas fa-cog"></i>
            <span class="num"> 4</span>
        </h1>
        <p>Oops! Page Not Found</p>
        <div>
            It looks like the page you were trying to reach doesn’t exist.
We're sorry, but the page you were looking for cannot be found. It might have been moved, renamed, or might never have existed.
        </div>
    </div>
</div>