<div class="instructions-modal">
  <div class="modal-content">
    <div class="left-pane">

      <div class="parent-left">
        <div class="child">
          
        </div>
        <div class="test-name">
          <h1>{{data.assessmentName}}</h1>
        </div>
        <div class="child test-details">
          <div class="details">
            <h6>Duration : {{data.assessmentDuration | timeformat}} hr</h6> 
          <!-- <h6>Questions: 30 </h6> -->
          </div>
        </div>
      </div>
      <!-- <h6>Time : 1 hr </h6> -->
      <!-- <h6>Questions: 30 </h6> -->
    
    </div>
    <div class="right-pane">
      <div class="right-pane-nested">
        <h1>Instructions</h1>
        <ol>
          <li>This is a timed test ensure there are no interruptions and you
            have a stable internet connection.</li>
          <li>Don’t change tabs while during tests, the test will end
            automatically.</li>
          <li>Keep your camera on during test, any malpractices during tests
            will be reported.</li>
        </ol>
        <!-- <a class="button" routerLink="/test">START</a> -->
        <app-button label="START"  [routerLink]="['/test',assessmentId]"></app-button>
      </div>
    </div>
  </div>
</div>
