.instructions-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.modal-content {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.left-pane, .right-pane {
  padding: 20px;
}

.left-pane {
  background: rgb(38,29,66);
  background: linear-gradient(360deg, rgba(38,29,66,1) 0%, rgba(128,97,195,1) 100%);
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  
}

.right-pane {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(145deg, rgba(255,255,255,1) 100%, rgba(191,191,191,1) 100%);
  

}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4b2e83;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #3a2367;
}
.button {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: rgb(38,29,66);
  background: linear-gradient(100deg, rgba(38,29,66,1) 0%, rgba(128,97,195,1) 100%);
  border-radius: 6px;
  // border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  // text-shadow: 0 1px 0 #ffffff;
  outline: 0;
}
.activebutton {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border: 1px solid #84bbf3;
  color: #ffffff;
  text-shadow: 0 1px 0 #528ecc;
}


.right-pane-nested{
align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins';
  font-weight: 500;
  color: #251D40;
}
.q-no ,h4{
color: #251D40;
}

ol{
margin: 15px 0px 30px 0;
}
li{
margin-top: 15px;
}

h1{
font-family: 'Poppins';
font-weight: 600;
}
.left-pane{
display: flex;
// width: auto;
}
.parent-left{
display: flex;
flex-direction: column;
width: 100%;  /* or any other size */
height: 100%; /* or any other size */
justify-content: center;
align-items: center;
}

.child{
flex: 1;
width: 100%;
height: 100%;
}
.test-name{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.test-details{
display: flex;
justify-content: center;
// align-items: center;
}

.details{
display: flex;
align-items: center;
flex-direction: column;
font-family: 'Poppins';
font-weight: 600;
}




