<div class="dashboard">
    <!-- <div class="sidebar-component"><app-sidebar [isTrainee]="true" (testToggle)="handleClick($event)"></app-sidebar></div> -->
    <div class="sidebar-component"  ><app-sidebar (isSchedule)="handleIsScheduled($event)"></app-sidebar></div>
 
 
    <div class="table-component">
        <h1 class="learner-welcome"> Hi, {{firstname}}</h1>

        @if(scheduled){
            @if (isScheduled) {
                <app-reminder [assessments]="scheduled"></app-reminder>
            }
           
            @else {
                <app-attended-tests></app-attended-tests>
                 <!-- <h1>HI</h1> -->
            }
        }
    </div>
 
 
 
</div>