<!-- <h6>OOPs Test:</h6> -->
<div class="pie-chart">
    
    <div class="card flex justify-content-center">
        <p-chart type="pie" [data]="data" [options]="options" />
    </div>
    <div class="details">
        <div class="box"><div class="passed"></div><span>Passed Students</span></div>
        <div class="box"><div class="below-pass"></div><span>Below-Pass Students</span></div>
        <div class="box"><div class="absent"></div><span>Absent Students </span></div>
    </div>
    </div>
    
    
    
    