<!-- <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required."> -->
    <form [formGroup]="secondFormGroup">
        <!-- <ng-template matStepLabel>Configure</ng-template> -->
    
        <div class="inputLabel">
          <div class="col-auto labelName">
            <label for="testName">Test Name:</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-100 inputbox">
              <mat-label>Enter the name of your test</mat-label>
              <input matInput placeholder="Ex. Soft Skills" formControlName="secondCtrl" required>
            </mat-form-field>
            <small id="testname-help" class="details">This name will be visible to students</small>
          </div>
        </div>
    
        <div class="inputLabel">
          <div class="col-auto labelName">
            <label for="testDuration">Test Duration:</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-100 inputbox">
              <mat-label>Enter the duration of test</mat-label>
              <input matInput placeholder="Ex. 01:30:00" formControlName="secondCtrl" required>
            </mat-form-field>
            <small id="testduration-help" class="details">Students will only have the set time to complete the whole test. The time limit is entered in the format (hours : minutes : seconds)</small>
          </div>
        </div>
    
        <div class="checkboxLabel">
          <div class="col-auto labelName">
            <label for="randomize">Randomize Questions:</label>
          </div>
          <mat-checkbox class="example-margin">Whole Test</mat-checkbox>
        </div>
        <small id="randomize-help" class="details-random">Questions will be displayed in a random order to each student in the whole test</small>
    
        <div class="inputLabel">
          <div class="col-auto labelName">
            <label for="batchSelect">Select Batch:</label>
          </div>
          <mat-form-field appearance="outline" class="w-100 inputbox">
            <mat-label>Select Batch</mat-label>
            <mat-select id="batches">
              <mat-option value="one">ILP 01</mat-option>
              <mat-option value="two">ILP 02</mat-option>
              <mat-option value="three">ILP 03</mat-option>
              <mat-option value="four">ILP 04</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    
        <div class="inputLabel">
          <div class="col-auto labelName">
            <label for="schedule">Schedule:</label>
          </div>
          <div>
            <label for="from">From:</label>
            <mat-form-field appearance="outline" class="w-100 inputbox from-to">
              <mat-label>Start Time</mat-label>
              <input matInput placeholder="Ex. 01:30:00" formControlName="secondCtrl" required>
            </mat-form-field>
            <label for="to">To:</label>
            <mat-form-field appearance="outline" class="w-100 inputbox from-to">
              <mat-label>End Time</mat-label>
              <input matInput placeholder="Ex. 01:30:00" formControlName="secondCtrl" required>
            </mat-form-field>
            <small id="schedule-help" class="details">Set a schedule for when your test will automatically open and then close based on the time zone for your account.</small>
          </div>
        </div>
    
        <div class="checkboxLabel">
          <div class="col-auto labelName">
            <label for="display">Display result to trainees:</label>
          </div>
          <mat-checkbox class="example-margin"></mat-checkbox>
        </div>
    
        <div class="checkboxLabel">
          <div class="col-auto labelName">
            <label for="submit">Enable Submit:</label>
          </div>
          <mat-checkbox class="example-margin">Submit</mat-checkbox>
        </div>
      </form>
  
     
    <!-- </mat-step> -->