.container {
  padding: 20px;
}


.sidebar {
  background-color: #333;
  color: #fff;
  height: 100vh;
  padding: 20px;
}


.general-settings {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.inputLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.labelName {

  margin-bottom: 5px;
}


.mat-form-field {
  width: 100%;
}


.details {
  font-size: 0.875em;
  color: #a69e9e;
  margin-top: -20px;
  line-height: 1.4;
  position: relative;
  
  word-wrap: break-word; 
  margin-bottom: 20px; 
}


.details-random {
  font-size: 0.875em;
  color: #a69e9e;

  line-height: 1.4;
  word-wrap: break-word; 
  margin-bottom: 20px; 
  position: relative;
  top: 10px;
  margin-left: 20px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.example-margin {
  margin: 0;
  margin-left: 10px; 
}

.active{
  display: flex;
  justify-content: flex-end;
}

.input{
  width: 100%;
  height: 50px;
}

::ng-deep .mat-mdc-text-field-wrapper {
height: 50px; 
}// Set the height of the wrapper


mat-label{

position: relative;
bottom: 5px;
}
::ng-deep  .mat-mdc-form-field-required-marker{
position: relative;
bottom: 5px;
}
::ng-deep .mat-mdc-input-element
{
height: 60px;
}

::ng-deep .mat-mdc-text-field-wrapper{
margin-top: 15px;
}
.from{
display: flex;
gap: 10px;
}
.to{
display: flex;
gap: 10px;
}


.start{
width: 100px;
margin-top: 15px;
}
#appt-time{
width: 800px;
height: 60px;
margin-top: 15px;
background-color: var(--mat-stepper-container-color);
border-radius: 3px;
border: 1px solid #a69e9e;
padding: 20px;
}

.end-error{
  margin-bottom: 15px;
  color: var(--mat-form-field-error-text-color);

}

.start-error{
  margin-bottom: 15px;
  color: var(--mat-form-field-error-text-color);
}

.duration-error{
  color: var(--mat-form-field-error-text-color);
  margin-bottom: 15px;

}
.date-time-error{
  display: flex;
  justify-content: space-between;
}


.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none; /* Removes default arrow */
}

.custom-select::after {
  content: '▼'; /* Dropdown arrow */
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select-wrapper::after {
  content: '';
  position: absolute;
  right: 0.75rem;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  border-top: 0.375rem solid #333;
  transform: translateY(-50%);
  pointer-events: none;
}

#assessmentDuration
{
  height: 50px;
}
#randomize
{
  height: 20px;
    bottom: 3px;
    position: relative;
    width: 20px;
    margin-left: 5px;
}
#batchId
{
  height: 50px;
}
#display{
  height: 20px;
  bottom: 3px;
  position: relative;
  width: 20px;
  margin-left: 5px;
}
#submit
{
  height: 20px;
  bottom: 3px;
  position: relative;
  width: 20px;
  margin-left: 5px;
}
.form-group{
  display: flex;
}
#Date
{
  width: 500px!important;
}
.form-control
{
  height: 50px;
}
.end{
  width: 100px;
}

.form-group {
  white-space: nowrap; /* Prevent line breaks */
}

.form-group label,
.form-group input {
  display: inline-block;
  vertical-align: middle; /* Align vertically center */
}
.form-group label {
  margin-right: 8px; /* Add some space between label and input */
}