<!-- app.component.html -->
<div class="d-flex justify-content-end w-40" style="margin-left: 30%;"><p-messages></p-messages></div>

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="startFormGroup">
    <button *ngIf="showScrollToTopButton" mat-fab class="scroll-to-top-button" (click)="scrollToTop()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <form [formGroup]="startFormGroup">
      <ng-template matStepLabel>Upload</ng-template>
      <app-file-upload (uploadSuccess)="previewTest()"></app-file-upload>
    </form>
    <button *ngIf="showScrollToBottomButton" mat-fab class="scroll-to-bottom-button" (click)="scrollToBottom()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </mat-step>

  <mat-step [stepControl]="firstFormGroup">
    <button *ngIf="showScrollToTopButton" mat-fab class="scroll-to-top-button" (click)="scrollToTop()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Preview</ng-template>
      @if(questions){
        <app-assessment-preview [questions]="questions"></app-assessment-preview>
      }
      <div class="">
        <button mat-button matStepperNext><app-button-active [content]="'Next'">Next</app-button-active></button>
      </div>
    </form>
    <button *ngIf="showScrollToBottomButton" mat-fab class="scroll-to-bottom-button" (click)="scrollToBottom()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <button *ngIf="showScrollToTopButton" mat-fab class="scroll-to-top-button" (click)="scrollToTop()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Edit Assessment</ng-template>

      <div class="inputLabel" *ngIf="!assessmentCreated">
        <div class="col-auto labelName">
          <label for="testName">Test Name:</label>
        </div>
        <div>
          <mat-form-field appearance="outline" class="w-100 inputbox">
            <mat-label>Enter the name of your test</mat-label>
            <input matInput placeholder="Ex. Soft Skills" #testNameInput required>
          </mat-form-field>
          <small id="testname-help" class="details">
            This name will be visible to students
          </small>
        </div>
        <div class="form-group">
          <button mat-button (click)="createAssessment(testNameInput.value)">Create Assessment</button>
        </div>
      </div>

      <app-assessment-edit *ngIf="assessmentCreated" [questions]="editQuestions"></app-assessment-edit>
      <div class="fixed-buttons">
        <button mat-button><app-button-active (buttonClick)="logQuestions()" [content]="'Save Questions'">Save Questions</app-button-active></button>
        <button mat-button matStepperPrevious><app-button-active [content]="'Back'">Back</app-button-active></button>
        <button mat-button matStepperNext><app-button-active [content]="'Next'">Next</app-button-active></button>
      </div>
    </form>
    <button *ngIf="showScrollToBottomButton" mat-fab class="scroll-to-bottom-button" (click)="scrollToBottom()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <div class="message-container">
      
    </div>
    <button *ngIf="showScrollToTopButton" mat-fab class="scroll-to-top-button" (click)="scrollToTop()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Schedule</ng-template>
      <app-schedule></app-schedule>
      <div class="fixed-buttons">
        <button mat-button matStepperPrevious><app-button-active [content]="'Back'">Back</app-button-active></button>
        <button mat-button matStepperNext><app-button-active (click)="finishSchedule()" [content]="'Schedule'">Schedule</app-button-active></button>
      </div>
    </form>
    <button *ngIf="showScrollToBottomButton" mat-fab class="scroll-to-bottom-button" (click)="scrollToBottom()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </mat-step>
</mat-stepper>
