$sidebar-background: #261D42;
$sidebar-text: #b3b3b3;
$dull-white: #b3b3b3;


.sidebar {
  background-color: $sidebar-background;
  color: $sidebar-text;
  width: 18%; 
  height: 100vh; 
  position: fixed;
  top: 0; 
  left: 0; 
  padding: 1rem; 
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.sidebar-heading {
  font-size: 1rem;
  color:white;
  
}

.dull-white-hr {
  border-top: 1px solid $dull-white;
  
}

.sidebar-list {
  list-style: none; 
  padding-left: 0;
  margin: 10%; 
  margin-bottom: 70%;
}

.sidebar-item {
  margin-bottom: 1rem; 
  display: flex; 
  align-items: center; 
}

.sidebar.collapsed .sidebar-item button {
    display: none; 
  }

.sidebar-item button {
  background-color: transparent; 
  border: none; 
  color: inherit; 
  padding: 0.5rem 0rem; 
  cursor: pointer; 
  text-align: left;
  font-size: 0.8rem; 
  transition: all 0.2s ease-in-out; 
  margin-left: 10%;
}

.sidebar-item button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

  @media (max-width: 768px) {
    .sidebar {
    display: none;
    }
    
  
  }