<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <div *ngIf="isLoading" class="loading-indicator">
        <p-progressBar mode="indeterminate" [style]="{ height: '6px', width: '400px' }" />
      </div>
      <div *ngIf="!isLoading" class="performancePage">
        <div class="performanceIntro">
          <div class="performanceBatch">
            <h4>{{performanceData.assessmentName}} - {{performanceData.batchName}}</h4>
          </div>
          <div class="shareOption">
            <app-button-active [content]="'Export as Excel'" [customStyles]="{'height':'38px','width':'120px','font-size':'14px'}" (buttonClick)="exportToExcel()"></app-button-active>
            <app-button-active [content]="'Share'" [customStyles]="{'height':'38px','width':'120px','font-size':'14px'}"></app-button-active>
          </div>
        </div>
        <div class="moreDetails">
          <app-card [name]=name4 [title]="performanceData.maximumScore"></app-card>
          <app-card [name]=name1 [title]="performanceData.totalTrainees"></app-card>
          <app-card [name]=name2 [title]="performanceData.traineesAttended"></app-card>
          <app-card [name]=name3 [title]="performanceData.absentees"></app-card>
          <app-card [name]=name5 [title]="getFormattedDate(performanceData.assessmentDate)" [h4Styles]="{  'font-size': '18px','padding-bottom':'5px' }"></app-card>
        </div>
        <div class="performanceTable">
          <app-table [trainees]="originalProducts"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
