$letterColor:#1D335F;

.loading-indicator{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 300px;
}
.performancePage{
    display: flex;
    flex-direction: column;
    padding:20px;
    padding-left: 80px;
    padding-right: 80px;
    height: 100vh;
}
.performanceIntro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.performanceBatch h4{
    font-weight: 700;
    color: var(--primary-color);
}
.shareOption{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.moreDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 3px;
    height:100px;
    width:900px;
    margin-top: 40px;
    border-radius: 10px;
}
.detailInfo{
    display: flex;
    flex-direction: column;
    color:$letterColor;
   justify-content: space-around;
}
.detailInfo p{
    margin-bottom: 4px;
    font-weight: 700;
}
.detailSearch{
    margin: auto;
    margin-right: 0;
}
.performanceTable{
    margin-top: 30px;
    width: 900px;
}
.modal-top{
    display: flex;
    justify-content:space-between;
    padding-bottom:10px;
}
.modal-top-buttons{
    display: flex;
    gap:10px;
}
.select{
    padding-left: 10px;
}
.admin-checkbox{
    display: flex;
    justify-content: flex-start;
    gap:10px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.card {
    border: none;
}


 ::ng-deep .p-button-label{
    font-weight: normal;
 }
