<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="sidebar">
        <app-sidebar></app-sidebar>
      </div>
    </div>

    <div class="col-10">
      <div class="qn-body">
        <form #evaluateForm="ngForm">
        <div class="qn-intro">
          <h3>{{ Title }}</h3>
          <div class="save-and-submit">
            <div>
              <app-button-active [content]="'Save'"(click)="saveScores()"></app-button-active>
            </div>
            <div>
              <app-button-active [content]="'Submit'" (click)="submitScores()"></app-button-active>
            </div>
          </div>
        </div>
        <div class="qn-content">
          <div class="qn">
            <div
              *ngFor="let question of selectedStudentResponses; let i = index"
            >
              <h6>{{ i + 1 }}. {{ question.questionText }}</h6>
              <ng-container [ngSwitch]="question.questionType">
                <ul *ngSwitchCase="'mcq'" class="mcq">
                  <div class="mark-box">
                    <input type="number"
                    name="score{{i}}"
                    #score="ngModel"
                    [(ngModel)]="question.score" [min]="0" 
                    [max]="question.points" 
                    [class.invalid]="question.score < 0 || question.score > question.points"
                    (ngModelChange)="onScoreChange(question.questionId,$event)"/>&nbsp;
                    <span>out of {{ question.points }}</span>
                    
                  </div>
                  <div *ngIf="question.score < 0 || question.score > question.points" class="error-message">
                    Score must be between 0 and {{ question.points }}.
                 </div>
                  <li
                    *ngFor="
                      let option of [
                        question.questionOptions.option1,
                        question.questionOptions.option2,
                        question.questionOptions.option3,
                        question.questionOptions.option4
                      ]
                    "
                    [ngClass]="{
                      'correct-option':
                        option === question.questionOptions.correctAnswer ||
                        option === question.answer,
                      'incorrect-option':
                        option === question.answer &&
                        option !== question.questionOptions.correctAnswer
                    }"
                  >
                    {{ option }}
                  </li>
                </ul>
                <div class="correct-answer">
                  <strong>Correct Answer:</strong>
                  {{ question.questionOptions.correctAnswer }}
                </div>
                <div *ngSwitchCase="'descriptive'" class="descriptive">
                  <div class="mark-box">
                    <input type="number"
                    name="score{{i}}"
                    #score="ngModel"
                    [(ngModel)]="question.score" [min]="0" 
                    [max]="question.points" 
                    [class.invalid]="question.score < 0 || question.score > question.points"
                    (ngModelChange)="onScoreChange(question.questionId,$event)"/>&nbsp;
                    <span>out of {{ question.points }}</span>
                    
                  </div>
                  <div *ngIf="question.score < 0 || question.score > question.points" class="error-message">
                    Score must be between 0 and {{ question.points }}.
                 </div>
                  <div class="response-box">
                    <textarea class="learner-response" readonly>{{
                      question.answer
                    }}</textarea>
                  </div>
                  <div class="correct-answer">
                    <strong>Correct Answer:</strong>
                    {{ question.correctAnswer }}
                  </div>
                </div>
                <div *ngSwitchCase="'fill_up'" class="fill-up">
                  <div class="mark-box">
                    <input type="number"
                    name="score{{i}}"
                    #score="ngModel"
                    [(ngModel)]="question.score" [min]="0" 
                    [max]="question.points" 
                    [class.invalid]="question.score < 0 || question.score > question.points"
                    (ngModelChange)="onScoreChange(question.questionId,$event)"/>&nbsp;
                    <span>out of {{ question.points }}</span>
                    
                  </div>
                  <div *ngIf="question.score < 0 || question.score > question.points" class="error-message">
                    Score must be between 0 and {{ question.points }}.
                 </div>
                  <input
                    type="text"
                    class="answer-box"
                    [(ngModel)]="question.Answer"
                    readonly
                  />
                  <div class="correct-answer">
                    <strong>Correct Answer:</strong>
                    {{ question.correctAnswer }}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="Mark-side">
            <div class="Marks">
              <div class="submitted">
                <h6>Submitted</h6>
                <p>Submitted {{numberOfSubmittedTrainee}}/{{totalTrainee }}</p>
              </div>
              <div class="submitted-student-list">
                <div
                  class="submitted-student"
                  *ngFor="let student of students"  [ngClass]="{
                    'active-student': student.traineeId === selectedStudentId,
                    'evaluated-student': evaluatedStudentIds.has(student.traineeId)
                  }"
                  (click)="onStudentClick(student.traineeId)"
                >
                  <span>
                    <div class="icon-name">
                      <div>
                        <input type="checkbox" id="checkbox" name="checkbox" 
                        [checked]="evaluatedStudentIds.has(student.traineeId)"
                        [disabled]="!evaluatedStudentIds.has(student.traineeId)">
                      </div>
                      <div>{{ student.name }}</div>
                    </div>
                    <div>{{ student.score }}</div>
                  </span>
                </div>
              </div>
            </div>
            <div class="absentees">
              <h6>Absentees</h6>
              <div class="absent">
                <p>Absent: {{ numberOfAbsentTrainee}} / {{totalTrainee }}</p> 
              </div>
              <div class="absent-student">
                <div
                  class="absent-student-name"
                  *ngFor="let student of absentStudents"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    style="height: 20px; width: 20px"
                    viewBox="0 0 384 512"
                    class="xbar-icon"
                  >
                    <path
                      fill="#c90d0d"
                      d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                    />
                  </svg>
                  {{ student.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
