<!-- <div class="card flex justify-content-center"> -->
    <p-card [header]="header" [subheader]="subheader" [style]="{ width: '300px', height:'5%' }">
      <ng-template pTemplate="header">
        <img [alt]="header" [src]="imageUrl" />
      </ng-template>
      <p>{{ description }}</p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button [label]="saveButtonLabel" class="w-full" />
        </div>
      </ng-template>
    </p-card>
  <!-- </div>
   -->