.header-text {
    font-size: 1.5rem; 
    font-weight: bold;
    color: var(--primary-color); 
    margin-bottom: 1rem; 
  }
.view-col {
    width: 70%;
    margin-left: 25%;
}
.p-card-header{
  display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin:0% 5%;
}
.next {
  position: relative;
  font-size: 14px;
  letter-spacing: 3px;
  height: 3em;
  padding: 0 3em;
  border: none;
  background-color: rgb(26, 100, 220);
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px
 }
 
 .next::before {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: rgb(26, 100, 220);
  background: linear-gradient(90deg, rgb(75, 52, 224) 20%, rgb(3, 7, 69) 100%);
  transition: 0.2s;
 }
 
 .next .label {
  position: relative;
 }
 
 .next .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 3em;
  right: 0;
  opacity: 0;
  transition: 0.4s;
 }
 
 .next:hover::before {
  height: 100%;
 }
 
 .next:hover .icon {
  top: 0;
  opacity: 1;
 }

 .assessment-card{
  display: flex;
  flex-direction: row;
 }