@if (questionType=="multiple_choice") {
<div class="list-container ">
  <ul class="grid-container">
    <div *ngFor="let options of questions let i = index">
      <div class="center-wrapper">
        <div class="option-box">
          <span class="option-label">{{i+1}}.</span>
          <span class="option-content">{{options}}</span>
        </div>
      </div>
    </div>
  </ul>
  <!-- <div>
    <input type="checkbox" id="review" name="review">
    <label for="review">Mark for review</label>
  </div> -->
</div>
}

@if (questionType=="true_false") {
  <div class="list-container ">
    <ul class="grid-container">
      <div *ngFor="let options of questions let i = index">
        <div class="center-wrapper">
          <div class="option-box">
            <span class="option-label">{{i+1}}.</span>
            <span class="option-content">{{options}}</span>
          </div>
        </div>
      </div>
    </ul>
  </div>
  }
@if (questionType=="fill_in_the_blank") {
  <div class="input-value">
    <form>
      <div class="form-group  text-field">
        <input type="text" class=" custom-text-field" id="exampleInput"
          [(ngModel)]="inputValue" name="exampleInput"
          placeholder="Enter text">
      </div>
    </form>
  </div>
  }
<div class="mark-for-review">
      <input type="checkbox" id="review" name="review">
      <label for="review">Mark for review</label>
</div>

  






















<!-- @for (option of questions; track questions.question_id | optionsFilter) {

    
    @for (option of options; track $index) {}
    

    } -->

<!-- <div *ngFor="let options of questions | optionsFilter">
      <div *ngFor="let opti of options">
        {{ opti }}
      </div>
    </div> -->

<!-- <div *ngFor="let options of questions | optionsFilter">
      <div *ngFor="let option of options">
        {{ option }}
      </div>
    </div>
     -->